モジュール読み込み

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('http://logopt.com/data/iris.data', names=['がく片長','がく片幅','花びら長','花びら幅', '種類'])
df.head()

   がく片長  がく片幅  花びら長  花びら幅           種類
0   5.1   3.5   1.4   0.2  Iris-setosa
1   4.9   3.0   1.4   0.2  Iris-setosa
2   4.7   3.2   1.3   0.2  Iris-setosa
3   4.6   3.1   1.5   0.2  Iris-setosa
4   5.0   3.6   1.4   0.2  Iris-setosa

In [3]:
ufo = pd.read_csv('http://logopt.com/data/ufo.csv', index_col = 0)
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [4]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [5]:
df.groupby('種類').sum()

                  がく片長   がく片幅   花びら長   花びら幅
種類
Iris-setosa      250.3  170.9   73.2   12.2
Iris-versicolor  296.8  138.5  213.0   66.3
Iris-virginica   329.4  148.7  277.6  101.3

In [6]:
df.drop('種類', axis=1).head()

   がく片長  がく片幅  花びら長  花びら幅
0   5.1   3.5   1.4   0.2
1   4.9   3.0   1.4   0.2
2   4.7   3.2   1.3   0.2
3   4.6   3.1   1.5   0.2
4   5.0   3.6   1.4   0.2

In [7]:
ufo.dropna().tail()

               City Colors Reported Shape Reported State              Time
18213      Pasadena           GREEN       FIREBALL    CA  12/28/2000 19:10
18216  Garden Grove          ORANGE          LIGHT    CA  12/29/2000 16:10
18220   Shasta Lake            BLUE           DISK    CA  12/29/2000 20:30
18233     Anchorage             RED        VARIOUS    AK  12/31/2000 21:00
18239   Eagle River             RED          LIGHT    WI  12/31/2000 23:45

In [8]:
D = {'name':['Pikachu', 'Mickey', 'Kitty'], 'color':['Yellow', 'Black', 'White']}
dir = pd.DataFrame(D)

In [9]:
NP = np.zeros([3, 2])
NP

array([[ 0.,  0.],
       [ 0.,  0.],
       [ 0.,  0.]])

In [10]:
np = pd.DataFrame(NP, columns=['col1', 'col2'])
ccat = pd.concat([dir, np], axis=1)
ccat.rename(columns={'col1':'列１', 'col2':'列２'}, inplace =True)
ccat

    color     name   列１   列２
0  Yellow  Pikachu  0.0  0.0
1   Black   Mickey  0.0  0.0
2   White    Kitty  0.0  0.0